a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

a,
button,
input,
select {
	pointer-events: auto;
}

.hud {
	transition: width 2s;
	font-weight: normal;
	font-size: 0.7rem;
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif, Helvetica, Sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 315px;
	height: 100%;
	background: red;
	padding: 15px;
	color: #fff;
	z-index: 999;

	background: rgba(3, 3, 6, 0.8);
	border-right: solid 1px #111;

	box-sizing: border-box;
}

.hud h2 {
	font-weight: bold;
	color: #eee;
	font-size: 0.9rem;
	border-bottom: 1px solid #eee;
	margin: 0 0 5px;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.hud input {
	box-sizing: border-box;
}

.hud input[type=text] {
	border: solid 1px #fff;
	padding: 4px;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.hud input[type=range] {
	margin: 3px 0;
	padding: 0;
	width: 100%;
}

.coords {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #444;
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif, "Courier New";
}

.coords>span {
	display: block;
	font-size: 1rem;
	float: left;
	width: 33%;
	text-align: center;
	background: rgba(30, 30, 30, 0.5);
	padding: 5px 0;
	line-height: 100%;
	border: solid 3px #000;
	box-sizing: border-box;
}

.coords:after {
	content: ' ';
	display: block;
	clear: both;
}

.controls {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	text-align: right;
}

.controls a {
	cursor: pointer;
}

.controls>a {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 4px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ddd;
	color: rgba(255, 255, 255, 0.8);
	background: rgba(100, 100, 100, 0.2);
	border: solid 1px #ddd;
	border-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	border-radius: 4px;
	text-decoration: none;
}

.controls>a.selected {
	color: #fff;
	border-color: rgba(255, 255, 255, 0.6);
}

.controls>a.tog-fullscreen {
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}